.mynavbar{
    cursor:pointer;
    transition: all .5s;
    background-color: #232323 !important; 
    padding: 20px;
}
.mynavbar:hover{
    background-color: red;
    color: white;
  }
  
  .mybtn{
    height: 70px;
          background-color: #ba1f19;
          color: white;
          cursor: pointer;
          margin: 0 auto;
          font-size: 22px;
          font-weight: 700;
          padding: 20px 80px;transition: all .3s;
  }
  .mybtn:hover{
    background-color: white;color: #ba1f19;
    transition: all .3s;
  }
  .imgdiv{
    width: 50%;
    transition: all .3s;
  }
  .imgdiv:hover{
    background-color: rgba(0,0,0,.5);
    transition: all .3s;
  }
  .imghover{
    padding-top: 80px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all .3s;
    cursor: pointer;
  }
  .imghover:hover{
    opacity:1
  }  
  .imgpara{
    text-align: center;
    opacity: 1;
    transition: all .3s;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    font-size: 23px;
  }
  .imgpara:hover{
    opacity:1;
    color: #ba1f19 ;
  }  
  
  .lm{
    text-decoration: none;
    transition: all .3s;
    opacity: 0;
  }
  .lm:hover{
    color:#ba1f19;
    opacity: 1;
  }
  .header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(./Assets/Images/pexels-shvets-production-7562298.jpg);
    height: 90vh;
    background-size: cover;
    background-position: top;
    padding-top: 120px;
  }
  .footerlink{
    text-decoration: none;
    color: #f0f7ee;
    transition: all .5s;
    display: flex;
    opacity: 1;
    color: #f0f7ee;
    font-size: larger;
    font-weight: 500;
  }
  .footerlink:hover{
    color: #ba1f19;
  }
  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
  }
  .dropbtn:hover{
    transition: all .5s;
    color: #ba1f19;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #232323;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {color: #ba1f19;transition: all .5s;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */

  .btncontact{
    height: 40px;
    background-color: #ba1f19;
    color: white;
    cursor: pointer;
    font-weight: 700;
    width: 100px;
  }
  .btncontact:hover{
    background-color: white;color: #ba1f19;
    transition: all .5s;
  }
  .bgimg{
    width: 100%;
    height: 400px;
  }
  .tiles{
        width: 33.33%;
  }
  .congropara{
    text-align: center;
          color: #dadada;
          font-size: large;
          padding-bottom: 30px;
  }
  .clients{
    width: 100%;
    cursor: pointer;
  }
  .congro{
    font-size: 80px;
          color: #dadada;
          font-weight: bolder;
          text-align: center;
  }
  @media only screen and (max-width: 768px) {
    .imgdiv{
        width: 100%;
      }
    .footerlink{
      width: 50%;
    }
    .congro{
      font-size: 45px;
    }
    .tiles{
      width: 100%;
    }
    .congropara{
      font-size: small;
    }
  }
  @media only screen and (min-width:768px){
    .tiles{
      width:50%
    }
    .congropara{
      font-size: medium;
    }
    .congro{
      font-size: 60px;
    }
  }
  @media only screen and (min-width: 1200px){
    .tiles{
      width:33.33%
    }
    .congro{
      font-size: 80px;
    }
    .congropara{
      font-size: larger;
    }
  }